@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

body
{
    text-align: center;
}

.titleH3
{
    font-size: 50px;
    width: 100%;
    background-color: black;
    color: red;
    font-family: Fleur De Leah, cursive;
    padding: 10px;
    margin-top: 0;
}

.note
{
    color: black;
    font-family: monospace;
    font-size: 20px;
    margin: 7px;
    background-color: red;
    margin: 5px;
    padding: 5px;
    margin-top: 2px;
}

.copyright
{
    position: fixed;
    color: red;
    bottom: 0;
    width: 100%;
    background-color: black;
    font-family: monospace;
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

canvas
{
    text-align: center;
    margin-left: 5%;
    border-radius: 10px;
}